.chart1,
.chart2 {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.chart1 canvas,
.chart2 canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
}

.percent {
  display: inline-block;
  line-height: 73px;
  z-index: 2;
  color: #E66363;
}

.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}